
.AdminPanel{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: -70px;
    left: 0px;
    background: rgb(160,160,160);
    backdrop-filter: blur(19px) saturate(180%);
    z-index: 100;
    transition: .4s all;
    display: flex;
    align-items: center;
    justify-content: center;

    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 5px;
    }

    .AdminPanelSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:3px 
    }

    .sysBtn{
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        color: black;
        border-radius: 15px;
        transition: .4s all;
        box-shadow: inset 3px 3px 3px #00000070;
        background: #FCFCF190;
        backdrop-filter: blur(19px) saturate(180%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sysBtn:hover{
        background: #2f2f2f;
        color: white;
    }
    
}

.open{
    bottom: 0px;
}


.ufertyros{
    background: rgb(160,160,160);
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100px;
    height: 20px;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 12px;
    
    img{
        user-select: none;
    }
}

.selectWrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;

    label{
        width:70px;
        color: #000000B3;
    }

    select{
        color: #000000B3;
    }
}


.statusEffect{
    background: #f8f8e690;
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    min-width: 200px;
}

.left{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

